<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reset-done</title>
</head>
<body>
    <h3><a href="{% url 'home' %}">Home</a></h3>
    <h2>Password reset sent.</h2>

        <small class="">
        We’ve emailed you instructions for setting your password, if an account exists with the email you entered.
        You should receive them shortly. If you don’t receive an email, please make sure you’ve entered the address
        you registered with, and check your spam folder.
        </small>

</body>
</html>